/* admin style sheet */
html, body{
    direction: rtl;
    margin: 0px;
    padding: 0px;
}
*{
    font: 14px/24px Tahoma;
}
nav{
    width: 980px;
    margin: auto;
    height: 37px;
    overflow: visible;
    text-align: center;
    margin-bottom: 12px;
    background-color: #DDD;
}
nav>ul>li{
    position: relative;
    float: right;
    display: inline-block;
    width: 120px;
    padding: 5px 12px;
    border: solid 1px #CCC;
    background-color: #DDD;
}
nav>ul>li>ul{
    display: none;
    border: solid 1px #CCC;
    background-color: #DDD;
    right:-1px;
    top:35px;
    width:144px
}
nav a{
    text-decoration: none;
    color: #000;
    display: block;
    padding: 5px 0px;
}
nav a:hover{
    color: #333;
}
nav>ul>li:hover>ul{
    position: absolute;
    display: block;
}
.container{
    width: 980px;
    margin: auto;
}
ul, ol, dl{
    list-style: none;
    padding:0px;
}
form div{
    margin-bottom: 12px;
}
label{
    display: inline-block;
    width: 150px;
}
button[type=submit]{
    text-align: center;
    margin-right: 152px;
    padding-left:25px;
    padding-right:25px;
}